

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


main {
  height: 100vh;
}
p{
  font-size: 1.5em;
}
@media (max-width: 912px) {
  main {
    height: 100%;
  }
}







/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 200px;
  color: var(--head);
  background-color: grey;
}

@media (max-width: 912px) {
  footer {
    padding: 15px;
  }
}




/* Cursor effect */
#typewriter::after {
  content: '|' ;
  margin-left: 4px;
  animation: blink 1.5s infinite;
  color: #fff; 
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/*Waving animation*/
.wave {
  display: inline-block;
  animation: wave-animation 1s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
            }