:root {
  --body: #16161a;
  --head: #fffffe;
  --par: #94a1b2;
  --btn: #7f5af0;
  --btnText: #fffffe;
  --second: #72757e;
  --stroke: #010101;
  --card: #242629;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body);
  color: var(--par);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


main {
  height: 100vh;
}
p{
  font-size: 1.5em;
}
@media (max-width: 600px) {
  main {
    height: 100%;
  }
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px 0px;
  position: fixed;
  height: 100%;
  width: 33%;
  /* background-color: rgba(73, 73, 85, 1); */
  background-color: var(--card);
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  border-radius: 0px 5px 5px 0px;
  border-right: 1px solid white;
}

.menu.show {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.menu .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu article {
  width: 100%;
  height: 100%;
}

.menu article ul {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu li {
  width: 100%;
}

.menu article li:hover {
  background-color: #9E9E9E;
}

.menu article a {
  text-decoration: none;
  color: var(--btn);
}

.menu .fa-github {
  opacity: 0;
}

#menuClose {
  color: white;
}
#moon{
  color: white;
   font-size: 2em;
    display: none;
}

#sun{
 color: white;
 font-size: 2em;
}

#menuBar i {
  border: 1px solid #1F1F1F;
  border-radius: 6px;
  padding: 5px 6px;
  display: inline-block; /* needed for transform */
  transition: transform 0.3s ease; /* smoother animation */
}
#menuBar i:hover {
  transform: scale(1.14);
  
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid grey;
  background-color: var(--stroke);
}

nav .left i {
  margin-right: 10px;
}

nav .left span {
  font-weight: bold;
  font-size: 2em;
  color: var(--head);
}

nav .right a {
  margin: 0 5px;
  text-decoration: none;
  color: var(--head);
  display: inline-block; /* needed for transform */
  transition: transform 0.3s ease; /* smoother animation */
}

nav .right a:hover {
  transform: scale(1.1);
  color: var(--btn);
}

nav .right i {
  margin-right: 3px;
  margin-left: 10px;
  font-size: 1.5em;
}
nav .right span{
   font-size: 1.5em;
}

@media (max-width: 600px) {
  nav .left span {
    font-size: 15px;
  }

  nav .right span {
    display: none;
  }

  nav .left i {
    margin-right: 10px;
  }

  .menu {
    width: 75%;
  }
}

/* HERO */
.hero {
  display: flex;
  padding: 25px;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
}
.hero .left {

  padding: 20px;
  border-radius: 10px;
 
}

.hero .left a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 5px;
  color: var(--btnText);
  background-color: var(--btn);
  display: inline-block; /* needed for transform */
  transition: transform 0.3s ease; /* smoother animation */
}
.left a:hover{
   transform: scale(1.1);
}
.hero .left i{
  margin-right: 5px;
  font-size: 1.5em;
}
.hero .left span{
  font-size: 1.5em;
}

.hero .left h2 {
 height: 50px;
  font-size: 2em;
  margin-bottom: 20px;
  
}

.hero .left p {
  margin-bottom: 20px;
}

#typewriter {
  color: var(--head);
}

p {
  color: var(--par);
}

h1,
.cell span {
  color: var(--head);
}

.hero .right img {
  height: 320px;
  border-radius: 50%;
  box-shadow: 2.5px 3px 9px 0px var(--btn);
   transition: transform 0.3s ease;
}
.hero .right img:hover{
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .scroll {
    margin-left: 13px;
  }

  .hero {
    margin-bottom: 170px;
  }

  .hero .right img {
    height: 250px;
    margin-top: 70px;
  }

  .hero .left p,
  h2 {
    padding: 0px 20px 20px 20px;
  }
}

/* SKILLS */
#skills {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  margin-bottom: 200px;
  width: 100%;
}


#skills h1 {
  margin-top: 80px;
}

.text {
  margin: 20px 0px;
  width: 100%;
  height: 200px;
  
}
.text p {
text-align: center;
}


.cells {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}
.cell {
  border: 1px solid grey;
  background-color: var(--btn);
  padding: 8px 30px;
  display: flex;
  align-items: center;
   transition: transform 0.3s ease;
}
.cell:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: transform 0.3s ease;
}
.cell i {
  font-size: 36px;
}
.cell span{
  margin-left: 5px;
}
.cell img {
  height: 30px;
  margin: 0px px;
}

@media (max-width: 600px) {
  .cells {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cell {
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  .cells {
    margin: 70px 0px 120px 0px;
  }

  #skills .text {
    padding: 0px 20px;
  }
}

/* TESTIMONY */
#test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

.test {
  display: flex;
  padding: 0px 25px 25px 25px;
  margin-top: 20px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test img {
  height: 120px;
  border-radius: 50%;
  margin-top: -10px;
}

.inTest {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: var(--btn);
}

.inTest p,
.inTest span {
  color: var(--head);
}

.inTest span {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .test {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 50px 30px;
    gap: 60px;
  }

  .test img {
    height: 90px;
  }
}

/* CONTACT */
#contact {
  padding: 25px;
  margin-bottom: 200px;
}
#contact h1{
  margin: auto;
  text-align: center;
}

#contact .group {
  display: flex;
  gap: 30px;
}

#contact .group .text {
  width: 550px;
}

#contact .group form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact .group form input,
#contact .group form textarea {
  font-family: 'poppins', sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid var(--background-accent);
  outline: none;
}

button {
  background-color: var(--btn);
  color: var(--btnText);
  border: none;
  padding: 15px;
}

@media (max-width: 600px) {
  #contact .group {
    display: flex;
    flex-direction: column;
  }

  #contact .group .text {
    width: 100%;
    margin: 10px 0px;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 200px;
  color: var(--background-color);
  background-color: grey;
}

@media (max-width: 600px) {
  footer {
    padding: 15px;
  }
}




/* Cursor effect */
#typewriter::after {
  content: '|' ;
  margin-left: 4px;
  animation: blink 1.5s infinite;
  color: #fff; 
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/*Waving animation*/
.wave {
  display: inline-block;
  animation: wave-animation 1s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
            }
