:root {
  --text-color: black;
  --link-color: #5981FF;
  --background-color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
main{
  height: 100vh;
}
@media(max-width: 600px){
  main{
  height: 100%;
  }
}

/*NAVBAR*/
nav{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  
  
}
nav .left span {
  font-weight: bold;
  font-size: 20px;
  
}
nav .right a{
  margin: 0px 10px;
  text-decoration: none;
  color: var(--text-color);
}
nav .right i{
  margin-right: 3px;
}
@media(max-width: 600px){
  nav .right span{
    display: none;
  }
}

/*HERO*/
.hero{
  display: flex;
  padding: 25px;
  gap: 100px;
  align-items: center;
}
.hero .left a{
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 5px;
  color: var(--link-color);
}
.hero .left p{
  margin-bottom: 20px;
}
.hero .right img{
  height: 200px;
  border-radius: 50%;
  box-shadow: 2.5px 3px 3px 0px var(--link-color);
}
@media(max-width: 600px){
  .hero{
    display: flex;
    flex-direction: column-reverse;
  }
  .scroll{
    margin-left: 13px;
  }
  .hero{
    margin-bottom: 170px;
  }
  .hero .right img{
    height: 250px;
  }
  .hero .left p, h2{
    padding: 0px 20px 20px 20px ;
  }
}

/*SKILLS*/
#skills{
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
}
#skills h1{
  margin-top: 80px;
}
#skills .text{
  margin: 20px 0px;
}
.cells{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}
.cell{
  border: 1px solid grey;
  padding: 8px 30px;
  display: flex;
  align-items: center;
}
.cell img{
  height: 30px;
  margin: 0px px;
}
@media(max-width: 600px){
  .cells{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .cell{
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }
  .cells{
    margin: 70px 0px 120px 0px ;
  }
  #skills .text{
    padding: 0px 20px;
  }
}

/*TESTIMONY*/

#test{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}
.test{
  display: flex;
  padding: 0px 25px 25px 25px;
  margin-top: 20px;
  gap: 20px;
}
.test img{
  height: 120px;
  border-radius: 50% ;
  margin-top: -10px;
}
.inTest{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 25px;

}
.inTest span{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
@media (max-width: 600px){
  .test{
    display: flex;
    flex-direction: column;
    padding: 50px 30px 50px 30px;
    gap: 60px;
  }
  .test img{
    height: 90px;
  }
}

/*Contact*/
#contact{
  padding: 25px;
  margin-bottom: 200px;
}
#contact .group{
  display: flex;
  gap: 30px;
}
#contact .group .text{
  width: 550px;
  
}
#contact .group form{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
#contact .group form input,
#contact .group form textarea{
  font-family: 'poppins', sans-serif;
 padding: 15px;
 margin-bottom: 20px;
 border: 2px solid var(--link-color);
 outline: none;
}
button{
  background-color: var(--link-color);
  color: #fff;
  border: none;
  padding: 15px;
}
@media(max-width: 600px){
  #contact .group{
    display: flex;
    flex-direction: column;
  }
  #contact .group .text{
    width: 100%;
    margin: 10px 0px;
  }
}

/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 200px;
  color: var(--background-color);
  background-color: grey;
}
@media(max-width: 600px){
  footer{
    padding: 15px;
  }
}  padding: 8px 30px;
  display: flex;
  align-items: center;
}
.cell img{
  height: 30px;
  margin: 0px px;
}
@media(max-width: 600px){
  #skills h1{
    font-size: 12px;
  }
  #skills .text{
    font-size: 10px;
  }
  .cells img{
    height: 10px;
    margin-right: 3px;
  }
  .cell{
    padding: 2px 10px;
    border: 0.5px solid grey;
    
  }
  .cell span{
    font-size: 7px;
  }
}

/*TESTIMONY*/

#test{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test{
  display: flex;
  padding: 0px 25px 25px 25px;
  margin-top: 20px;
  gap: 20px;
}
.test img{
  height: 120px;
  border-radius: 50% ;
  margin-top: -10px;
}
.inTest{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 25px;

}
.inTest span{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
@media (max-width: 600px){
  #test h1{
    font-size: 12px;
  }
  .inTest span, p{
    font-size: 7px;
  }
  .test img{
    height: 50px;
  }
  .inTest{
    padding: 15px;
  }

}

/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 200px;
  color: var(--background-color);
  background-color: grey;
}
@media(max-width: 600px){
  footer{
    padding: 15px;
  }
}



/*comment*/
.comment{
display: flex;
align-items: center;
justify-content: center;
}
