/* SKILLS */
#skills {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  margin-bottom: 200px;
  width: 100%;
  
}


#skills h1 {
  margin-top: 80px;
}

.text {
  margin: 20px 0px;
  width: 100%;
  height: 200px;
  
}
.text p {
text-align: center;
}


.cells {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}
.cell {
  border: 1px solid grey;
  background-color: var(--btn);
  padding: 8px 30px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.cell:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
.cell i {
  font-size: 36px;
}
.cell span{
  margin-left: 5px;
}
.cell img {
  height: 30px;
  margin: 0px px;
}

@media (max-width: 912px) {
  .cells {
    flex-direction: column;
    gap: 30px;
    margin: 70px 0px 120px 0px;
  }

  .cell {
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  #skills .text {
    padding: 0px 20px;
  }
}
